<h1>Lectures</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>
 
<% @lectures.each do |lecture| %>
  <tr>
    <td><%= lecture.title %></td>
    <td><%= lecture.description %></td>
  </tr>
<% end %>
</table>