<h1>Welcome to Deli!</h1>

<div class="content">
  <ul>
    <li><a href="login">Login</a></li>
    <li><a href="login/signup">Neu anmelden</a></li>
    <li><a href="lectures">Vorlesungen</a></li>
    <li><a href="lectures/new">neue Vorlesung erstellen</a></li>
  </ul>
  <br>
  
  
</div>
