<h2>Gruppe beitreten</h2>

<table class = "table table-striped">
  <% if !@groups.blank? %>
    <thead>
      <tr>
        <th>Gruppe</th>
        <td></td>
      </tr>
    </thead>
    <tbody>
    <% for group in @groups %>
      <tr>
        <td><%= link_to group, studentgroup_path(group.id) %></td>
        <td>
          <%= form_tag join_studentgroup_path(group.id), :method => :put, :class => "add-button-form" do %>
            <%= hidden_field_tag 'group_id', group.id %>
            <%= button_tag :class=> "btn btn-small btn-success btn-inverse" do %>
              <i class = "icon-plus icon-white"></i>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  <% else %>

  <% end %>



</table>
